<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
      <assemblies>
        <!-- 
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/> 
        -->
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"/>
    <add key="mgCOMPANYID" value="ISS "/>
    <add key="mgTITLE" value="ISS Indonesia - "/>
    <add key="mgMETAAUTHOR" value="iss.co.id -"/>
    <add key="mgMETADESCRIPTION" value="iss.co.id -"/>
    <add key="mgMETAKEYWORDS" value="iss.co.id -"/>
    <add key="mgLOCID" value="I01"/>
    <add key="mgLOCDESC" value="PT. ISS Indonesia"/>
    <add key="mgCOMPANYDESC" value="PT. ISS INDONESIA"/>
    <add key="mgCOMPANYADDR1" value="Bintaro Sektor 9 "/>
    <add key="mgCOMPANYADDR2" value="Jl. Jendral Sudirman Blok J No 3,"/>
    <add key="mgCOMPANYTOWN" value="Tangerang"/>
    <add key="mgCOMPANYPOISSODE" value="15229"/>
    <add key="mgCOMPANYPHONE1" value="+62-21-7486 4490"/>
    <add key="mgCOMPANYFAXS" value="+62-21-7486 4491"/>
    <add key="mgCOMPANYEMAIL" value="info@iss.co.id"/>
    <add key="mgCOMPANYWEB" value="www.iss.co.id"/>
    <add key="mgWEBBO" value="my.iss.co.id/iss"/>
    <add key="mgMEMBERGROUPMENU" value="MM"/>
    <add key="mgSTOCKISTGROUPMENU" value="ST"/>
    <add key="mgCOMPANYPREFIXID" value="99"/>
    <add key="mgENCRYPTCODE" value="ISS55"/>
    <add key="mgROWDEFAULT" value="10"/>
    <add key="mgMAXLEG" value="0"/>
    <add key="mgMAXACCOUNT" value="0"/>
    <add key="mgENROLLTYPE" value="N"/>
    <add key="mgDELIVERYCHARGESAPPLY" value="N"/>
    <add key="mgRECEIVEBATCH_ADJUSTINV" value="N"/>
    <add key="mgENROLLPLACEMENT" value="-"/>
    <add key="mgENROLLBVMONTHCOUNT" value="8"/>
    <add key="mgWEBADMIN" value="my.iss.co.id/iss/admin"/>
    <add key="mgWEBMEMBER" value="my.iss.co.id/iss"/>
    <add key="mgWEBSTOCKIST" value="my.iss.co.id/iss/branch"/>
    <add key="mgWEBREPLICA" value="my.iss.co.id/iss/a/"/>
    <add key="mgIN_PATHNORMAL" value="..\file\in_file\images_in\in_n350fu76\"/>
    <add key="mgIN_PATHWATERMARK" value="..\file\in_file\images_in\in_w93kv75\"/>
    <add key="mgIN_PATHTHUMBS" value="..\file\in_file\images_in\in_t783jd34\"/>
    <add key="mgIN_PATHCOPY" value="..\file\in_file\images_inctype\df_c93kf96w\"/>
    <add key="mgLINKEDSERVER1" value="[ADM_ISS].dbo."/>
    <add key="mgLINKEDSERVER2" value="[PROD_ISS_NAV].dbo."/>
    <add key="mgLINKEDSERVER3" value="[ISS-NAV-3].dbo."/>
    <add key="mgWEB_SERVICES1" value="my.iss.co.id"/>
    <add key="CustomErrorMessage" value="True"/>
    <add key="RegKey" value="MRONLINE"/>
    <add key="ReportPath" value="C:\Inetpub\wwwroot\IAS\report\"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
  </appSettings>
  <businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
</configuration>